.idea/
__pycache__/
*.pyc
venv/
.vscode/
edge_server/data/*
!edge_server/data/.gitkeep
edge_server/ai_engine/*
!edge_server/ai_engine/**/
!edge_server/ai_engine/med/.gitkeep
!edge_server/ai_engine/env/.gitkeep